aiobotocore==2.20.0
ax-platform[mysql]==0.2.3
boto3==1.36.0
captum>=0.4.0
docker
kubernetes==25.3.0
flake8==3.9.0
fsspec==2024.3.1
s3fs==2024.3.1
hydra-core
ipython
mlflow-skinny
moto~=5.0.8
pyre-extensions
pyre-check
pytest
pytest-cov
pytorch-lightning==2.5.0
tensorboard==2.14.0
sagemaker==2.230.0
torch-model-archiver>=0.4.2
torch>=2.7.0
torchmetrics==1.6.3
torchserve>=0.10.0
torchtext==0.18.0
torchvision==0.23.0
typing-extensions
ts==0.5.1
wheel

# lint (linter versions are managed by lintrunner)
lintrunner
lintrunner-adapters
