boto3>=1.11.11
moto>=2.0.6
kfp==1.6.2
pyre-extensions>=0.0.21
black>=21.5b1
usort==0.6.4
pytorch-lightning>=0.5.3
torch>=1.9.0
torchvision>=0.10.0
classy-vision>=0.6.0
flake8==3.9.0
ts>=0.5.1
torchserve>=0.4.0
captum>=0.3.1
importlib-metadata
ax-platform[mysql]>=0.2.2
fsspec>=2021.09.0