aiobotocore==2.12.1
ax-platform[mysql]==0.2.3
boto3==1.34.51
captum>=0.4.0
docker
kubernetes==25.3.0
flake8==3.9.0
fsspec==2024.3.1
s3fs==2024.3.1
google-api-core
google-cloud-batch==0.17.14
google-cloud-logging==3.10.0
google-cloud-runtimeconfig==0.34.0
hydra-core
ipython
kfp==1.8.22
mlflow-skinny
moto~=5.0.8
pyre-extensions
pyre-check
pytest
pytest-cov
pytorch-lightning==1.5.10
sagemaker>=2.149.0
torch-model-archiver>=0.4.2
torch==2.2.1
torchmetrics==0.10.3
torchserve>=0.10.0
torchtext==0.17.1
torchvision==0.17.1
ts==0.5.1
ray[default]

# lint (linter versions are managed by lintrunner)
lintrunner
lintrunner-adapters


# reduce backtracking
grpcio==1.62.1
grpcio-status==1.48.1
googleapis-common-protos==1.63.0
google-api-core==2.18.0
protobuf==3.20.3 # kfp==1.8.22 needs protobuf < 4
