sphinx==5.0.1
-e git+http://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
sphinx-gallery<=0.7.0
sphinxcontrib.katex
matplotlib
papermill
ipykernel
nbsphinx
jupytext
ipython_genutils
# https://github.com/jupyter/nbconvert/issues/1736
jinja2<=3.0.3
