name: Kubernetes Integration Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  components-launch:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Configure Kube Config
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          set -eux
          if [ -n "$AWS_ACCESS_KEY_ID" ]; then
            aws eks update-kubeconfig --region=us-west-2 --name=${{ secrets.EKS_CLUSTER_NAME }}
          fi
      - name: Install dependencies
        run: |
          set -eux
          pip install -e .[kubernetes]
      - name: Run Components Integration Tests
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          if [ -z "$AWS_ACCESS_KEY_ID" ]; then
            # only dryrun if no secrets
            ARGS="--dryrun"
          else
            ARGS=
          fi
          scripts/component_integration_tests.py $ARGS
