name: Docs Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docbuild:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          set -eux
          pip install -r dev-requirements.txt
          pip install -r docs/requirements.txt
      - name: Install TorchX
        run: |
          python setup.py develop
      - name: Doc Test
        run: |
          cd docs
          make doctest
      - name: Linkcheck
        run: |
          cd docs
          make linkcheck
      - name: Doc Build
        run: |
          cd docs
          make html
      - name: Papermill
        run: |
          cd docs
          make papermill

  docpush:
    runs-on: ubuntu-18.04
    needs: docbuild
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Set Identity
        run: |
          set -ex
          git config --global user.email "runner@github.com"
          git config --global user.name "TorchX CI Runner"
      - name: Build
        run: |
          set -ex
          docs/doc_push.sh --dry-run
      - name: Push
        run: |
          set -ex
          cd /tmp/torchx_docs_tmp/torchx_gh_pages
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git push
