name: GCP Batch Integration Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  gcpbatch:
    if: github.event.pull_request.head.repo.fork == false
    runs-on: ubuntu-20.04
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: projects/508676514268/locations/global/workloadIdentityPools/torchx-github/providers/torchx-github-provider
          service_account: torchx-github-ci@pytorch-ecosystem-gcp.iam.gserviceaccount.com
      - name: Install dependencies
        run: |
          set -eux
          pip install -e .[dev]
      - name: Run GCP Batch Integration Tests
        run: |
          set -ex

          scripts/gcpbatchint.sh
