name: KFP Integration Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  kfp:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Configure Docker
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          set -eux
          aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin 495572122715.dkr.ecr.us-west-2.amazonaws.com
      - name: Install dependencies
        run: |
          set -eux
          pip install -r dev-requirements.txt
          python setup.py install
      - name: Run KFP Integration Tests
        env:
          KFP_HOST: ${{ secrets.KFP_HOST }}
          KFP_USERNAME: ${{ secrets.KFP_USERNAME }}
          KFP_PASSWORD: ${{ secrets.KFP_PASSWORD }}
          KFP_NAMESPACE: ${{ secrets.KFP_NAMESPACE }}
          INTEGRATION_TEST_STORAGE: ${{ secrets.INTEGRATION_TEST_STORAGE }}
          EXAMPLES_CONTAINER_REPO: ${{ secrets.EXAMPLES_CONTAINER_REPO }}
        run: scripts/kfpint.py
