name: KFP Integration Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  kfp-launch:
    runs-on: ubuntu-18.04
    steps:
      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          mkdir -p ~/.local/bin/kubectl
          mv ./kubectl ~/.local/bin/kubectl
          export PATH=$PATH:~/.local/bin/kubectl
      - name: Configure Kube Config
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          set -eux
          if [ -n "$AWS_ACCESS_KEY_ID" ]; then
            aws eks update-kubeconfig --region=us-west-2 --name=torchx-dev-1-18
          fi
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Configure Docker
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          set -eux
          if [ -n "$AWS_ACCESS_KEY_ID" ]; then
            aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin 495572122715.dkr.ecr.us-west-2.amazonaws.com
          fi
      - name: Install dependencies
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          set -eux
          pip install -r dev-requirements.txt
          python setup.py install
          kubectl get pods
#      - name: Run KFP Integration Tests
#        env:
#          KFP_HOST: ${{ secrets.KFP_HOST }}
#          KFP_USERNAME: ${{ secrets.KFP_USERNAME }}
#          KFP_PASSWORD: ${{ secrets.KFP_PASSWORD }}
#          KFP_NAMESPACE: ${{ secrets.KFP_NAMESPACE }}
#          INTEGRATION_TEST_STORAGE: ${{ secrets.INTEGRATION_TEST_STORAGE }}
#          CONTAINER_REPO: ${{ secrets.CONTAINER_REPO }}
#        run: scripts/kfpint.py
