name: Pyre

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pyre:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          set -eux
          pip install -e .[dev]

          lintrunner init
      - name: Run Pyre
        run: scripts/pyre.sh
        continue-on-error: true
      - name: log
        run: cat /home/runner/work/torchx/torchx/.pyre/*
      - name: Rage
        run: pyre rage
