name: Python Unittests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unittest:
    strategy:
      matrix:
        include:
# TODO: uncomment this when torch.1.10 is released
#          - python-version: 3.9
#            platform: macos-latest
          - python-version: 3.7
            platform: ubuntu-18.04
            torch-whl: https://download.pytorch.org/whl/test/cu113/torch-1.10.0%2Bcu113-cp37-cp37m-linux_x86_64.whl
          - python-version: 3.8
            platform: ubuntu-18.04
            torch-whl: https://download.pytorch.org/whl/test/cu113/torch-1.10.0%2Bcu113-cp38-cp38-linux_x86_64.whl
          - python-version: 3.8
            platform: ubuntu-18.04
            torch-whl: https://download.pytorch.org/whl/test/cu113/torch-1.10.0%2Bcu113-cp39-cp39-linux_x86_64.whl
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          set -eux
          pip install coverage codecov
          pip install -e .[dev]
          pip uninstall -y torch
          pip install ${{ matrix.torch-whl }}
      - name: Run tests
        run: coverage run -m unittest discover --verbose --start-directory . --pattern "*_test.py"
      - name: Coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          set -eux
          coverage report -m
          coverage xml

          codecov
